/* ============================================ */
/* ! Vars  & Mixins                                  */
/* ============================================ */
$blue: #0081d1;
$black: #04090d;
$green-dark: #007a64;
$green-light: #03ab8c;
$blue-light: #00c4de;
$complementary: #D15000;

@mixin font-cabin {
	font-family: 'Cabin', sans-serif;
}

@mixin font-lobster-two {
	font-family: 'Lobster Two', cursive;
}

/* ============================================ */
/* ! Commons                                    */
/* ============================================ */
body {
	background-color: #f1f1f1;
}

a {
	color: $blue;
	text-decoration: none;
}

h1 {
    a {
        @include font-lobster-two;
    }
}

.main {
        margin-top: 50px;
}

.main a:hover,
#proyectos a:hover {
	background-color: $complementary;
	color: #fff;
}

.top-bar {
    .title-area,
    .top-bar-section .right {
        padding-left: 0;
    }
    .top-bar-section ul {
        li.active > a {
        background: $blue-light !important;
    }
    }
}

#proyectos ul {
    @include columns(3 8em);
}

/* ============================================ */
/* ! Media Queries                              */
/* ============================================ */

// Small screens
@media only screen and (max-width: 40em) {
    .extra {

        span {
            font-size: 11px !important;
            display: block;
            text-align: center;
            padding-bottom: 0.5em;
        }
    }

    .rockets {
        img {
            width: 5em; height: 5em;
        }
    }

    .blog-title h1,
    .blog-title p,
    .posts .row .post-date,
    .posts .row .post-title {
        text-align: center;
    }
}




// Medium screens
@media only screen and (min-width: 40.063em) {

    .posts {
        .row {
            margin-bottom: 20px;
        }
    }
}

// Large screens
@media only screen and (min-width: 64.063em) {

}

/* ============================================ */
/* ! Content                                    */
/* ============================================ */
.content {
    margin-bottom: 80px;
    @include border-top-radius (6px);
    @include border-bottom-radius (6px);
    @include border-left-radius (6px);
    @include border-right-radius (6px);

    .image {
        margin-top: 4em;
        &:hover {
             @include transform(rotate(5deg));
        }
    }
	.text {
	    background-color: hsla(180%,0, 100%, 0.3);
	    padding: 24px;
	    @include border-top-radius (12px);
	    @include border-bottom-radius (12px);
	    @include border-left-radius (12px);
	    @include border-right-radius (12px);
	    box-shadow: 0 0 0.6em #ccc;
	    border: solid 1px $blue;
	    h3 {
	        @include font-cabin;
	        color: $green-light;
	        text-shadow: 1px 0 0 $green-dark;
	        span {
	            font-size: 12px;
	            font-family: Arial;
	            text-shadow: none;
	        }
	    }
	}
}

/* ============================================ */
/* ! Title                                      */
/* ============================================ */
.title {
	margin-top: -45px;
    h2 {
        margin-bottom: 20px;
        text-align: center;
        .bg {
            @include font-lobster-two;
            color: #fff;
            background: $blue-light;
            padding:12px 20px;
		    @include border-top-radius (18px);
		    @include border-bottom-radius (18px);
		    @include border-left-radius (18px);
		    @include border-right-radius (18px);
            box-shadow: 0 0 0.6em #ccc;
            .icon {
                background-image: url("img/icons.png");
                background-repeat:no-repeat;
                display: inline-block;
                vertical-align: bottom;
                margin-right: 10px;
            }
        }
    }

	&.especialidades {
	    .icon {
            background-position: 0 0;
            width: 42px;
            height: 50px;
	    }
	}
	&.bola-extra {
	    .icon {
            background-position: -49px 0;
            width: 51px;
            height: 50px;
	    }
	}
	&.contacto {
	    .icon {
            background-position: -108px 0;
            width: 51px;
            height: 50px;
	    }
	}
}

/* ============================================ */
/* ! Footer                                     */
/* ============================================ */
.extra {

    p {
        text-align: center;
    }

    h2 {
        @include font-lobster-two;
        text-align: center;
        text-shadow: 1px 1px 0 #999;
    }

    .rockets {
        text-align: center;
        margin-top: 2em;
    }

    footer {
        padding-bottom: 24px
    }
}

/* ============================================ */
/* ! Blog                                     */
/* ============================================ */
#home {
    h1 {
        margin-bottom: 20px;
    }
}

.blog-title,
.post-main {
    h1, h2, h3 {
        @include font-cabin;
   }
}

.post {
    .image-margin-left {
        margin: 0 20px 10px 0;
    }

    .image-margin-right {
        margin: 0 0 10px 20px;
    }
}

.posts {
    margin-bottom: 20px;
    .row {
        .post {
            a {
                display: block;
                padding: 24px;
                @include border-top-radius (12px);
                @include border-bottom-radius (12px);
                @include border-left-radius (12px);
                @include border-right-radius (12px);
                box-shadow: 0 0 0.6em #ccc;
                border: solid 1px $blue;

                small {
                    display: block;
                    padding-bottom: 5px;
                    color: #333;
                }

                &:hover {
                    background-color: #03ab8c;
                    small {
                        color: #fff !important;
                    }
                }
            }

        }
    }
}

.highlight {
    border: solid 1px #ccc;
    padding: 20px;   
    margin-bottom: 20px;
    font-size: 13px; 
    background-color: #fff;
    @include border-top-radius (3px);
    @include border-bottom-radius (3px);
    @include border-left-radius (3px);
    @include border-right-radius (3px);
    code {
        background-color: #fff;
        border-color: #fff;
        font-weight: normal !important;
        color: #333 !important;
    }
}
