---
layout: default
title: Bruno
---

<div id="home">
  <div class="row">
    <div class="blog-title">
      <h1>Blog</h1> 
      <p><big>Artículos sobre desarrollo front-end</big></p>
    </div>
  </div>
  <div class="posts">

    <div class="row">
      {% for post in site.posts %}

      {% capture index %}
      {{ forloop.index }}
      {% endcapture %}

      {% capture trio %}
      {{ index | modulo:3 }}
      {% endcapture %}

      <div class="medium-4 large-4 columns">  

        <div class="post">
          <p>
            <a href="{{ post.url }}">

              <small>{{ post.date | date_to_string }}</small>
              {{ post.title }}
            </a>
          </p>
        </div>

      </div>

      {% if trio contains '0' %} 
      </div>
      <div class="row">
      {% endif %}

      {% endfor %}
    </div>
  </div>
</div>