@font-face {
	font-family: 'Questrial';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/questrial-400-normal.eot);
	src: local('Questrial'), local('Questrial-Regular'), url(/fonts/questrial-400-normal.woff2) format('woff2'), url(/fonts/questrial-400-normal.woff) format('woff'), url(/fonts/questrial-400-normal.ttf) format('truetype'), url(/fonts/questrial-400-normal.svg#Questrial) format('svg');
}
@font-face {
	font-family: 'Sanchez';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/sanchez-400-normal.eot);
	src: local('Sanchez'), local('Sanchez-Regular'), url(/fonts/sanchez-400-normal.woff2) format('woff2'), url(/fonts/sanchez-400-normal.woff) format('woff'), url(/fonts/sanchez-400-normal.ttf) format('truetype'), url(/fonts/sanchez-400-normal.svg#Sanchez) format('svg');
}
@font-face {
	font-family: 'Sanchez';
	font-style: italic;
	font-weight: 400;
	src: url(/fonts/sanchez-400-italic.eot);
	src: local('Sanchez Italic'), local('Sanchez-Italic'), url(/fonts/sanchez-400-italic.woff2) format('woff2'), url(/fonts/sanchez-400-italic.woff) format('woff'), url(/fonts/sanchez-400-italic.ttf) format('truetype'), url(/fonts/sanchez-400-italic.svg#Sanchez) format('svg');
}
