<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% if page.isaboutme %}
      <audio id="audio" src="http://bruno.garciaechegaray.com/mp3/astronautas.mp3" preload="auto">></audio>

      <link rel="stylesheet" href="http://bruno.garciaechegaray.com/css/astronauta.min.css">

      <script src="http://bruno.garciaechegaray.com/js/astronauta.js"></script>

      <script src="http://bruno.garciaechegaray.com/js/soundjs-0.6.1.min.js"></script>
    {% endif %}

  </body>

</html>
