<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% if page.isaboutme %}
      <link rel="stylesheet" href="http://blog.garciaechegaray.com/css/astronauta.min.css">
      <script src="http://blog.garciaechegaray.com/js/about.min.js"></script>
      <audio id="audio" src="http://blog.garciaechegaray.com/mp3/astronautas.mp3" preload="auto"></audio>
    {% endif %}

  </body>

</html>
